// Colours
$color-primary: #383838;
$color-primary-light: #777474;
$color-primary-very-light: #f3f3f3;
$color-primary-dark: #000000;
$color-secondary: #fe7d97;
$color-white: #fff;

// Breakpoints
$bp-large: 39.0625em; // 625px
$bp-medium: 29.0625em; // 465px
$bp-small: 22.8125em; // 365px

// Fonts
$font-primary: "Montserrat", sans-serif;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows:
    5rem 80vh min-content minmax(min-content, 30vw) min-content minmax(
      min-content,
      30vw
    )
    min-content;
  grid-template-columns:
    [full-start] minmax(2rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
}
