.logo {
  color: $color-primary;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 3rem;

  &-dot {
    color: $color-secondary;
  }
}

.link {
  padding: 0 1.3rem;
  justify-self: center;
  color: $color-primary-light;
  text-decoration: none;
  font-size: 1.15rem;
  text-transform: uppercase;
  padding: 0 2rem;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
    color: $color-secondary;
    fill: $color-secondary; // Fill for the SVG items
  }

  &--active {
    text-decoration: underline;
    color: $color-primary-dark;
    text-underline-offset: 2px;
  }
}

.btn {
  width: 14rem;
  height: 4rem;
  text-transform: uppercase;
  background-color: $color-primary;
  color: white;
  border: none;
  font-weight: 600;
  transition: 0.3s;
  margin-top: 1.5rem;

  &:hover {
    transform: scale(1.1);
  }
}

.hash-tag-medium {
  font-size: 4.2rem;
  color: $color-primary;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.nav {
  display: flex;
  align-items: baseline;
  width: 100%;
  &__logo {
    padding-right: 3rem;
  }

  &__cart {
    fill: $color-primary-light;
    height: 2rem;
    width: 6rem;
    align-self: center;
    margin-top: 5px;
    margin-left: auto;
  }

  &__cart-total {
    margin-right: 1rem;
    font-size: 1.2rem;
    display: inline-block;
    position: absolute;
    margin: auto;
    right: 8.5rem;
    top: 1.94rem;
  }
}

.section-main {
  background-image: url(./img/model-image-1.jpg);
  overflow: hidden;
  transition: background 1s;
  color: $color-primary-light;

  &__hashtag {
    grid-column: 1/2;
    grid-row: 3/4;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $color-primary-light;
    font-size: 1.1rem;
    align-self: center;
  }

  &__title {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 4rem;
    color: $color-primary;
    font-weight: 600;
    text-align: center;
  }

  &__button {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  &__links {
    grid-column: 1/2;
    grid-row: 8/9;
    margin-right: auto;
    padding-left: 6rem;

    > a {
      font-size: 1rem;
    }
  }
}

.shop-outfit {
  display: grid;
  height: 100%;
  align-items: start;
  justify-items: center;

  &-women {
    grid-template-columns: [column-start main-start]40%[main-end] 1fr[column-end];
    grid-template-rows: [row-start categories-start] 10% [categories-end] 1fr [row-end];
  }

  &-men {
    grid-template-columns: [column-start main-start]1fr[main-end] 40%[column-end];
    grid-template-rows: [row-start categories-start] 10% [categories-end] 1fr [row-end];
  }

  row-gap: 1rem;
  column-gap: 2rem;
  overflow: hidden;
  padding: 0 2rem;

  &__shop-now {
    &-women {
      grid-column: main-start / main-end;
      grid-row: categories-end/ row-end;
    }
    &-men {
      grid-column: main-end / column-end;
      grid-row: categories-end/ row-end;
    }

    text-align: center;
    position: relative;
    width: 100%;

    &__title {
      margin-top: -2rem;
      padding-bottom: 5.2rem;
      font-size: 5rem;
      color: $color-primary;
      text-transform: uppercase;
    }

    &__img {
      width: 100%;
    }

    &__btn {
      font-weight: 600;
      border: none;
      text-transform: uppercase;
      padding: 1.5rem 4rem;
      background-color: white;
      color: $color-primary-light;
      font-size: 1rem;
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s all;

      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
  // Nav bar top of grid
  &__categories {
    &-women {
      grid-column: main-end / column-end;
      grid-row: categories-start / categories-end;
    }
    &-men {
      grid-column: main-start/ main-end;
      grid-row: categories-start / categories-end;
    }

    justify-self: start;
    align-self: end;

    > .category {
      font-size: 1rem;
      padding-left: 0;
      padding-right: 3rem;
      text-decoration: none;
    }
  }
  // Products
  &__products {
    &-women {
      grid-column: main-end/ column-end;
      grid-row: categories-end / row-end;
    }
    &-men {
      grid-column: main-start/ main-end;
      grid-row: categories-end / row-end;
    }
    grid-column-gap: 2rem;
    padding-top: 2rem;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: [column-start product-column-1] 1fr [product-column-2] 1fr [product-column-3] 1fr [column-end];
    grid-template-rows: [row-start product-row-1] 1fr [product-row-2] 1fr [row-end];
  }

  &__product {
    display: grid;
    grid-template-rows: 80% 10% 10%;
    &-title {
      padding-top: 1rem;
      text-align: center;
      grid-row: 2/3;
      color: $color-primary-light;
      font-size: 1.5rem;
      font-weight: 300;
    }
    &-price {
      text-align: center;
      grid-row: 3/4;
    }
    &-image-container {
      grid-row: 1/2;
      overflow: hidden;
      position: relative;
    }
    &-image {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: absolute;
      transition: transform 1s;
    }

    &-cart {
      height: 2.5rem;
      width: 2.5rem;
      z-index: 1;
      position: absolute;
      margin-left: auto;
      right: 1rem;
      top: 2rem;
      fill: $color-primary-light;
      display: none;
      transition: 0.5s;

      &--active {
        fill: $color-secondary;
      }
    }

    &-arrow {
      fill: $color-primary-light;
      z-index: 1;
      position: absolute;
      height: 2rem;
      width: 2rem;
      top: 50%;
      &-left {
        left: 2%;
      }
      &-right {
        right: 2%;
      }
    }

    &-1 {
      grid-column: product-column-1 / product-column-2;
      grid-row: product-row-1 / product-row-2;
    }
    &-2 {
      grid-column: product-column-2 / product-column-3;
      grid-row: product-row-1 / product-row-2;
    }
    &-3 {
      grid-column: product-column-3 / column-end;
      grid-row: product-row-1 / product-row-2;
    }
    &-4 {
      grid-column: product-column-1 / product-column-2;
      grid-row: product-row-2 / row-end;
    }
    &-5 {
      grid-column: product-column-2 / product-column-3;
      grid-row: product-row-2 / row-end;
    }
    &-6 {
      grid-column: product-column-3 / column-end;
      grid-row: product-row-2 / row-end;
    }
  }
}

.section-new-arrivals {
  background-image: url(./img/new-arrivals-img-3.jpg);
  background-size: cover;
  background-position: 0 80%;

  &-textbox {
    z-index: 2;
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  &__title {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  &__text {
    margin-top: 12rem;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: $color-primary;
  }
  &__link {
    margin-top: 19rem;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1.4rem;
  }
  &__background-text {
    margin-bottom: 20rem;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 10rem;
    color: rgba($color-primary-light, 0.2);
    z-index: 1;
    letter-spacing: 2rem;
  }
}

.section-sale {
  padding: 0 2rem;

  &__text-container {
    justify-self: center;
    align-self: center;
    grid-row: 1/2;
    grid-column: 1/3;

    z-index: 1;
    text-align: center;
    border: solid 1px $color-white;
    padding: 2rem;

    &-text-box {
      background-color: $color-white;
      padding: 2rem 4rem;
    }

    &-title {
      font-size: 5rem;
      text-transform: uppercase;
      letter-spacing: 2rem;
      color: $color-primary-dark;
    }
    &-text {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.8rem;
      color: $color-primary-light;
    }
  }

  &__woman {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url(./img/sale-women.jpg);
    background-size: cover;
    background-position: 0 30%;
    position: relative;
    transition: all 0.5s;

    &-text {
      writing-mode: vertical-lr;
      margin-top: 5rem;
      margin-left: 1.5rem;
      letter-spacing: 2rem;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
    &-text:after {
      content: "";
      height: 15%;
      width: 2px;

      position: absolute;
      left: 2.8rem;
      top: 0;

      background-color: $color-primary-dark;
    }
  }
  &__man {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url(./img/sale-men.jpg);
    background-size: cover;
    background-position: 0 20%;
    position: relative;
    display: flex;
    height: 100%;
    transition: all 0.5s;

    &-text {
      margin-left: auto;
      writing-mode: vertical-rl;
      display: inline-block;
      align-self: flex-end;

      padding-right: 1.5rem;
      padding-bottom: 3.5rem;
      letter-spacing: 2rem;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
    &-text:after {
      content: "";
      height: 15%;
      width: 2px;

      position: absolute;
      right: 2.8rem;
      top: 85%;

      background-color: $color-primary-dark;
    }
  }
}

.footer {
  background-color: $color-primary-very-light;
  &__copyright {
    grid-column: 1/2;
    padding-left: 1rem;

    &-text {
      color: $color-primary-light;
    }
  }

  &__about {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    &-link {
      padding: 0;
      margin: 0;
    }

    &-link:hover {
      transform: none;
      color: initial;
    }
  }

  &__shopguide {
    grid-column: 4/5;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    &-link {
      padding: 0;
      margin: 0;
    }

    &-link:hover {
      transform: none;
      color: initial;
    }
  }

  &__newsletter {
    grid-column: 5/6;
    display: grid;
    flex-direction: column;
    position: relative;
    &-title {
      font-size: 1.5rem;
    }

    &-form {
      > label {
        display: block;
        text-transform: uppercase;
        font-size: 1.1rem;
        color: $color-primary-light;
        margin-bottom: 1rem;
      }

      > input {
        width: 80%;
        border: none;
        height: 2.5rem;
        padding: 2rem;
        display: inline;
      }
      > button {
        position: absolute;
        margin-left: auto;
        margin-top: 0;
        height: 4rem;
        width: 24%;
        right: 8rem;
      }

      > button:hover {
        transform: scale(1);
      }
    }
  }
}
