.cart {
  fill: $color-primary-light;
  height: 3rem;
  width: 3rem;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
    fill: $color-secondary; // Fill for the SVG items
  }
}

.text-container {
  text-align: center;
  &__title {
    text-transform: uppercase;
    font-size: 4rem;
    color: $color-primary-light;
  }

  &__text {
    font-size: 2rem;
    color: $color-primary-dark;
  }
}

.btn-small {
  @include button;
  background-color: $color-primary-dark;
  color: $color-white;
  padding: 1rem 2rem;
  transition: all 0.5s;
}

.btn-large {
  @include button;
  padding: 2rem 5rem;
  background-color: $color-white;
  color: $color-primary-dark;
  font-size: 2rem;
  font-weight: bold;
}

.product {
  &__img {
    object-fit: cover;
    width: 100%;
  }
  &__title {
    text-align: center;
  }

  &__price {
    text-align: center;
  }

  &__image-container {
    overflow: hidden;
    position: relative;

    > img:not(:first-child) {
      position: absolute;
    }
  }

  &__arrow {
    height: 3rem;
    width: 3rem;
    z-index: 1;
    position: absolute;
    margin: auto;

    &--left {
      top: 45%;
      left: 1%;
    }

    &--right {
      top: 45%;
      right: 1%;
    }
  }

  &__cart {
    position: absolute;
    margin: auto;
    top: 2%;
    right: 5%;
  }
}
