.homepage_container {
  max-width: 100vw;
  min-height: 50rem;
}
.header {
  height: 5rem;
}
.nav {
  padding: 0 4rem;
  position: fixed;
  background-color: white;
  z-index: 999;
}
.section-main {
  height: 40vw;

  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr) 2fr repeat(4, 1fr);
}
.section-for-her {
  height: 70vw;
  margin-top: -2rem;
}

.section-new-arrivals {
  height: 25vw;
  margin: 2rem 2rem 0 2rem;
  display: grid;
  grid-template-columns: 60% 1fr;
}

.section-for-him {
  height: 70vw;
  margin-top: -2rem;
}

.section-sale {
  height: 35vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
}

.footer {
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 35%;
  align-items: center;

  margin-top: 2rem;
  padding: 0 2rem;
}
