.homepage_container {
  max-width: 100vw;
  min-height: 50rem;
}
.header {
  padding: 0 5rem;
  height: 5rem;
}
.section-main {
  height: 40vw;

  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr) 2fr repeat(4, 1fr);
}
.section-for-her {
  height: 70vw;
  margin-top: -2rem;
}

.section-new-arrivals {
  height: 25vw;
  margin: 2rem;
  display: grid;
  grid-template-columns: 60% 1fr;
}

.section-for-him {
  height: 70vw;
  margin-top: -2rem;
}

.section-sale {
  height: 35vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-column-gap: 1rem;
}
