.homepage_container {
  max-width: 100vw;
  min-height: 50rem;
}
.header {
  height: 5rem;
}

.section-main {
  height: 40vw;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr) 2fr repeat(4, 1fr);

  background-image: url(./img/model-image-1.jpg);
  overflow: hidden;
  transition: background 1s;
  color: $color-primary-light;

  &__hashtag {
    grid-column: 1/2;
    grid-row: 3/4;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $color-primary-light;
    font-size: 1.1rem;
    align-self: center;
  }

  &__title {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 4rem;
    color: $color-primary;
    font-weight: 600;
    text-align: center;
  }

  &__button {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  &__links {
    grid-column: 1/2;
    grid-row: 8/9;
    margin-right: auto;
    padding-left: 6rem;

    > a {
      font-size: 1rem;
    }
  }
}

.section-for-her {
  height: 70vw;
  margin-top: -2rem;
}

.section-new-arrivals {
  height: 25vw;
  margin: 2rem 2rem 0 2rem;
  display: grid;
  grid-template-columns: 60% 1fr;

  background-image: url(./img/new-arrivals-img-3.jpg);
  background-size: cover;
  background-position: 0 80%;

  &-textbox {
    z-index: 2;
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  &__title {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  &__text {
    margin-top: 12rem;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: $color-primary;
  }
  &__link {
    margin-top: 19rem;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1.4rem;
  }
  &__background-text {
    margin-bottom: 20rem;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 10rem;
    color: rgba($color-primary-light, 0.2);
    z-index: 1;
    letter-spacing: 2rem;
  }
}

.section-for-him {
  height: 70vw;
  margin-top: -2rem;
}

.section-sale {
  height: 35vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;

  padding: 0 2rem;

  &__text-container {
    justify-self: center;
    align-self: center;
    grid-row: 1/2;
    grid-column: 1/3;

    z-index: 1;
    text-align: center;
    border: solid 1px $color-white;
    padding: 2rem;

    &-text-box {
      background-color: $color-white;
      padding: 2rem 4rem;
    }

    &-title {
      font-size: 5rem;
      text-transform: uppercase;
      letter-spacing: 2rem;
      color: $color-primary-dark;
    }
    &-text {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.8rem;
      color: $color-primary-light;
    }
  }

  &__woman {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url(./img/sale-women.jpg);
    background-size: cover;
    background-position: 0 30%;
    position: relative;
    transition: all 0.5s;

    &-text {
      writing-mode: vertical-lr;
      margin-top: 5rem;
      margin-left: 1.5rem;
      letter-spacing: 2rem;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
    &-text:after {
      content: "";
      height: 15%;
      width: 2px;

      position: absolute;
      left: 2.8rem;
      top: 0;

      background-color: $color-primary-dark;
    }
  }
  &__man {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url(./img/sale-men.jpg);
    background-size: cover;
    background-position: 0 20%;
    position: relative;
    display: flex;
    height: 100%;
    transition: all 0.5s;

    &-text {
      margin-left: auto;
      writing-mode: vertical-rl;
      display: inline-block;
      align-self: flex-end;

      padding-right: 1.5rem;
      padding-bottom: 3.5rem;
      letter-spacing: 2rem;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
    &-text:after {
      content: "";
      height: 15%;
      width: 2px;

      position: absolute;
      right: 2.8rem;
      top: 85%;

      background-color: $color-primary-dark;
    }
  }
}

.footer {
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 35%;
  align-items: center;

  margin-top: 2rem;
  padding: 0 2rem;

  background-color: $color-primary-very-light;
  &__copyright {
    grid-column: 1/2;
    padding-left: 1rem;

    &-text {
      color: $color-primary-light;
    }
  }

  &__about {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    &-link {
      padding: 0;
      margin: 0;
    }

    &-link:hover {
      transform: none;
      color: initial;
    }
  }

  &__shopguide {
    grid-column: 4/5;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    &-link {
      padding: 0;
      margin: 0;
    }

    &-link:hover {
      transform: none;
      color: initial;
    }
  }

  &__newsletter {
    grid-column: 5/6;
    display: grid;
    flex-direction: column;
    position: relative;
    &-title {
      font-size: 1.5rem;
    }

    &-form {
      > label {
        display: block;
        text-transform: uppercase;
        font-size: 1.1rem;
        color: $color-primary-light;
        margin-bottom: 1rem;
      }

      > input {
        width: 60%;
        border: none;
        height: 2.5rem;
        padding: 2rem;
        display: inline;
      }
      > button {
        position: absolute;
        margin-left: auto;
        margin-top: 0;
        height: 4rem;
        width: 24%;
        right: 8rem;
      }

      > button:hover {
        transform: scale(1);
      }
    }
  }
}
