.nav-bar {
  grid-row: 1/2;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns:
    minmax(min-content, 10%) minmax(min-content, 50%)
    1fr minmax(min-content, 5%);
  align-items: baseline;
  padding-top: 0.5rem;
  background-color: $color-primary-very-light;
  grid-column-gap: 2rem;

  &__logo {
    margin-left: 2rem;
  }

  &__mobile-menu {
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
    font-size: 1.3rem;
    display: none;
    text-transform: uppercase;
    @media only screen and (max-width: $bp-large) {
      display: block;
    }
  }
  &__links {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 5rem));
    grid-column-gap: 2rem;
    justify-items: center;
    transform: translateY(-0.2rem);

    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__link {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  &__cart {
    align-self: center;
    justify-self: start;
    grid-column: 4/5;
    grid-row: 1/2;
    position: relative;
    display: grid;
    grid-column-gap: 1rem;

    &-total {
      grid-column: 1/2;
      grid-row: 1/2;
      font-size: 1.5rem;
      align-self: center;
    }

    &-icon {
      transform: translateY(-0.3rem);
      grid-column: 2/3;

      &:hover {
        transform: translateY(-0.3rem) scale(1.1);
      }
    }

    &-products {
      position: absolute;
      margin: auto;
      right: 0.5rem;
      top: 3rem;
      z-index: 2;
      max-height: 20rem;
      min-height: 8rem;
      width: 25rem;
      overflow-y: scroll;
      background-color: rgba($color-primary-very-light, 0.9);
      display: none;
    }

    &-product {
      display: grid;
      padding: 2rem 2rem 0 2rem;
      transition: all 0.5s;
      &-image {
        height: 100%;
        width: 100%;
      }
      &-title {
        text-align: center;
        font-size: 2rem;
      }

      &-price {
        text-align: center;
        font-size: 1.5rem;
      }

      &-remove-btn {
        color: red;
        text-align: center;
        &:hover {
          color: red;
          transform: scale(1);
        }
      }
    }

    &-checkout {
      &-button {
        margin-top: 1rem;
        text-align: center;
      }
      &-message {
        text-align: center;
        font-size: 2rem;
        margin-top: 2rem;
        color: $color-primary;
      }
    }
  }
}
