@import "mixins";

.logo {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: lowercase;
  text-decoration: none;

  color: $color-primary;
  &-dot {
    color: $color-secondary;
  }
}

.link-one {
  @include link;

  &:hover {
    transform: scale(1.1);
    color: $color-secondary;
    fill: $color-secondary; // Fill for the SVG items
  }

  &--active {
    text-decoration: underline;
    color: $color-primary-dark;
    text-underline-offset: 2px;
  }
}

.link-two {
  @include link;

  &--active {
    color: $color-primary-dark;
  }

  &:hover {
    color: $color-primary-dark;
  }
}

.link-three {
  border-radius: 0.5rem;
  @include link;
  background-color: $color-primary-very-light;
  color: $color-primary;
  width: 100%;
  text-align: center;
}
