* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.homepage_container {
  max-width: 100vw;
  min-height: 50rem; }

.header {
  padding: 0 5rem;
  height: 5rem; }

.section-main {
  height: 40vw;
  background-image: url(model-image-1.jpg);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr) 2fr repeat(4, 1fr);
  justify-items: center; }

.-logo {
  color: #383838;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 1px; }
  .-logo-dot {
    color: #fe7d97; }

.link {
  padding: 0 1.3rem;
  justify-self: center;
  color: #504f4f;
  text-decoration: none;
  font-size: 1.15rem;
  text-transform: uppercase;
  padding: 0 2rem;
  transition: 0.5s; }
  .link:hover {
    transform: scale(1.1);
    color: #fe7d97;
    fill: #fe7d97; }
  .link--active {
    text-decoration: underline;
    text-underline-offset: 2px; }

.nav {
  display: flex;
  align-items: baseline;
  width: 100%; }
  .nav__logo {
    padding-right: 3rem;
    font-size: 3rem;
    text-decoration: none; }
  .nav__cart {
    fill: #504f4f;
    height: 2rem;
    width: 6rem;
    align-self: center;
    margin-top: 5px;
    margin-left: auto; }

.section-main {
  color: #504f4f; }
  .section-main__hashtag {
    grid-column: 1/2;
    grid-row: 3/4;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #504f4f;
    font-size: 1.1rem;
    align-self: center; }
  .section-main__title {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 4rem;
    color: #383838;
    font-weight: 600;
    text-align: center; }
  .section-main__button {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 14rem;
    height: 4rem;
    text-transform: uppercase;
    background-color: #383838;
    color: white;
    border: none;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 1.5rem; }
    .section-main__button:hover {
      transform: scale(1.1); }
  .section-main__links {
    grid-column: 1/2;
    grid-row: 8/9;
    margin-right: auto;
    padding-left: 6rem; }
    .section-main__links > a {
      font-size: 1rem; }
