* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.homepage_container {
  max-width: 100vw;
  min-height: 50rem; }

.header {
  height: 5rem; }

.section-main {
  height: 40vw;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr) 2fr repeat(4, 1fr);
  background-image: url(./img/model-image-1.jpg);
  overflow: hidden;
  transition: background 1s;
  color: #777474; }
  .section-main__hashtag {
    grid-column: 1/2;
    grid-row: 3/4;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #777474;
    font-size: 1.1rem;
    align-self: center; }
  .section-main__title {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 4rem;
    color: #383838;
    font-weight: 600;
    text-align: center; }
  .section-main__button {
    grid-column: 1/2;
    grid-row: 5/6; }
  .section-main__links {
    grid-column: 1/2;
    grid-row: 8/9;
    margin-right: auto;
    padding-left: 6rem; }
    .section-main__links > a {
      font-size: 1rem; }

.section-for-her {
  height: 70vw;
  margin-top: -2rem; }

.section-new-arrivals {
  height: 25vw;
  margin: 2rem 2rem 0 2rem;
  display: grid;
  grid-template-columns: 60% 1fr;
  background-image: url(./img/new-arrivals-img-3.jpg);
  background-size: cover;
  background-position: 0 80%; }
  .section-new-arrivals-textbox {
    z-index: 2;
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center; }
  .section-new-arrivals__title {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: #383838;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase; }
  .section-new-arrivals__text {
    margin-top: 12rem;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #383838; }
  .section-new-arrivals__link {
    margin-top: 19rem;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1.4rem; }
  .section-new-arrivals__background-text {
    margin-bottom: 20rem;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 10rem;
    color: rgba(119, 116, 116, 0.2);
    z-index: 1;
    letter-spacing: 2rem; }

.section-for-him {
  height: 70vw;
  margin-top: -2rem; }

.section-sale {
  height: 35vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  padding: 0 2rem; }
  .section-sale__text-container {
    justify-self: center;
    align-self: center;
    grid-row: 1/2;
    grid-column: 1/3;
    z-index: 1;
    text-align: center;
    border: solid 1px #fff;
    padding: 2rem; }
    .section-sale__text-container-text-box {
      background-color: #fff;
      padding: 2rem 4rem; }
    .section-sale__text-container-title {
      font-size: 5rem;
      text-transform: uppercase;
      letter-spacing: 2rem;
      color: #000000; }
    .section-sale__text-container-text {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.8rem;
      color: #777474; }
  .section-sale__woman {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url(./img/sale-women.jpg);
    background-size: cover;
    background-position: 0 30%;
    position: relative;
    transition: all 0.5s; }
    .section-sale__woman-text {
      writing-mode: vertical-lr;
      margin-top: 5rem;
      margin-left: 1.5rem;
      letter-spacing: 2rem;
      font-size: 1.8rem;
      text-transform: uppercase; }
    .section-sale__woman-text:after {
      content: "";
      height: 15%;
      width: 2px;
      position: absolute;
      left: 2.8rem;
      top: 0;
      background-color: #000000; }
  .section-sale__man {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url(./img/sale-men.jpg);
    background-size: cover;
    background-position: 0 20%;
    position: relative;
    display: flex;
    height: 100%;
    transition: all 0.5s; }
    .section-sale__man-text {
      margin-left: auto;
      writing-mode: vertical-rl;
      display: inline-block;
      align-self: flex-end;
      padding-right: 1.5rem;
      padding-bottom: 3.5rem;
      letter-spacing: 2rem;
      font-size: 1.8rem;
      text-transform: uppercase; }
    .section-sale__man-text:after {
      content: "";
      height: 15%;
      width: 2px;
      position: absolute;
      right: 2.8rem;
      top: 85%;
      background-color: #000000; }

.footer {
  height: 25vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 35%;
  align-items: center;
  margin-top: 2rem;
  padding: 0 2rem;
  background-color: #f3f3f3; }
  .footer__copyright {
    grid-column: 1/2;
    padding-left: 1rem; }
    .footer__copyright-text {
      color: #777474; }
  .footer__about {
    grid-column: 3/4;
    display: flex;
    flex-direction: column; }
    .footer__about-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem; }
    .footer__about-link {
      padding: 0;
      margin: 0; }
    .footer__about-link:hover {
      transform: none;
      color: initial; }
  .footer__shopguide {
    grid-column: 4/5;
    display: flex;
    flex-direction: column; }
    .footer__shopguide-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem; }
    .footer__shopguide-link {
      padding: 0;
      margin: 0; }
    .footer__shopguide-link:hover {
      transform: none;
      color: initial; }
  .footer__newsletter {
    grid-column: 5/6;
    display: grid;
    flex-direction: column;
    position: relative; }
    .footer__newsletter-title {
      font-size: 1.5rem; }
    .footer__newsletter-form > label {
      display: block;
      text-transform: uppercase;
      font-size: 1.1rem;
      color: #777474;
      margin-bottom: 1rem; }
    .footer__newsletter-form > input {
      width: 60%;
      border: none;
      height: 2.5rem;
      padding: 2rem;
      display: inline; }
    .footer__newsletter-form > button {
      position: absolute;
      margin-left: auto;
      margin-top: 0;
      height: 4rem;
      width: 24%;
      right: 8rem; }
    .footer__newsletter-form > button:hover {
      transform: scale(1); }

.logo {
  color: #383838;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 3rem; }
  .logo-dot {
    color: #fe7d97; }

.link {
  padding: 0 1.3rem;
  justify-self: center;
  color: #777474;
  text-decoration: none;
  font-size: 1.15rem;
  text-transform: uppercase;
  padding: 0 2rem;
  transition: 0.5s; }
  .link:hover {
    transform: scale(1.1);
    color: #fe7d97;
    fill: #fe7d97; }
  .link--active {
    text-decoration: underline;
    color: #000000;
    text-underline-offset: 2px; }

.btn {
  width: 14rem;
  height: 4rem;
  text-transform: uppercase;
  background-color: #383838;
  color: white;
  border: none;
  font-weight: 600;
  transition: 0.3s;
  margin-top: 1.5rem; }
  .btn:hover {
    transform: scale(1.1); }

.hash-tag-medium {
  font-size: 4.2rem;
  color: #383838;
  text-decoration: underline;
  text-underline-offset: 3px; }

.nav {
  padding: 0 4rem;
  position: fixed;
  background-color: white;
  z-index: 999;
  display: flex;
  align-items: baseline;
  width: 100%; }
  .nav__logo {
    padding-right: 3rem; }
  .nav__cart {
    align-self: center;
    margin-top: 5px;
    margin-left: auto;
    display: flex;
    margin-top: 1rem; }
    .nav__cart-icon {
      fill: #777474;
      height: 2rem;
      width: 6rem; }
    .nav__cart-total {
      margin-right: 1rem;
      font-size: 1.2rem;
      display: inline-block;
      position: absolute;
      margin: auto;
      right: 8.5rem;
      top: 2.2rem; }
    .nav__cart-products {
      overflow-y: scroll;
      position: absolute;
      margin-left: auto;
      right: 1rem;
      top: 4rem;
      width: 15vw;
      min-height: 10vh;
      max-height: 30vh;
      background-color: rgba(255, 255, 255, 0.8);
      display: none; }
    .nav__cart-product {
      margin-top: 2rem;
      height: 8rem;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 1fr;
      grid-template-rows: 1fr; }
      .nav__cart-product-image {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        object-fit: contain;
        height: 8rem; }
      .nav__cart-product-title {
        color: #777474;
        font-size: 2rem;
        grid-column: 2/3;
        grid-row: 1/2; }
      .nav__cart-product-price {
        font-size: 1.5rem;
        margin-top: 4rem;
        grid-column: 2/3;
        grid-row: 1/2; }
    .nav__cart-checkout-button {
      display: none;
      width: 100%;
      justify-self: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .nav__cart-checkout-button:hover {
        transform: scale(1); }
    .nav__cart-checkout-message {
      justify-self: center;
      align-self: center;
      font-size: 1.6rem;
      color: #777474; }

.shop-outfit {
  display: grid;
  height: 100%;
  align-items: start;
  justify-items: center;
  row-gap: 1rem;
  column-gap: 2rem;
  overflow: hidden;
  padding: 0 2rem; }
  .shop-outfit-women {
    grid-template-columns: [column-start main-start] 40% [main-end] 1fr [column-end];
    grid-template-rows: [row-start categories-start] 10% [categories-end] 1fr [row-end]; }
  .shop-outfit-men {
    grid-template-columns: [column-start main-start] 1fr [main-end] 40% [column-end];
    grid-template-rows: [row-start categories-start] 10% [categories-end] 1fr [row-end]; }
  .shop-outfit__shop-now {
    text-align: center;
    position: relative;
    width: 100%; }
    .shop-outfit__shop-now-women {
      grid-column: main-start / main-end;
      grid-row: categories-end/ row-end; }
    .shop-outfit__shop-now-men {
      grid-column: main-end / column-end;
      grid-row: categories-end/ row-end; }
    .shop-outfit__shop-now__title {
      margin-top: -2rem;
      padding-bottom: 5.2rem;
      font-size: 5rem;
      color: #383838;
      text-transform: uppercase; }
    .shop-outfit__shop-now__img {
      width: 100%; }
    .shop-outfit__shop-now__btn {
      font-weight: 600;
      border: none;
      text-transform: uppercase;
      padding: 1.5rem 4rem;
      background-color: white;
      color: #777474;
      font-size: 1rem;
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s all; }
      .shop-outfit__shop-now__btn:hover {
        transform: translate(-50%, -50%) scale(1.1); }
  .shop-outfit__categories {
    justify-self: start;
    align-self: end; }
    .shop-outfit__categories-women {
      grid-column: main-end / column-end;
      grid-row: categories-start / categories-end; }
    .shop-outfit__categories-men {
      grid-column: main-start/ main-end;
      grid-row: categories-start / categories-end; }
    .shop-outfit__categories > .category {
      font-size: 1rem;
      padding-left: 0;
      padding-right: 3rem;
      text-decoration: none; }
  .shop-outfit__products {
    grid-column-gap: 2rem;
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: [column-start product-column-1] 1fr [product-column-2] 1fr [product-column-3] 1fr [column-end];
    grid-template-rows: [row-start product-row-1] 1fr [product-row-2] 1fr [row-end]; }
    .shop-outfit__products-women {
      grid-column: main-end/ column-end;
      grid-row: categories-end / row-end; }
    .shop-outfit__products-men {
      grid-column: main-start/ main-end;
      grid-row: categories-end / row-end; }
  .shop-outfit__product {
    display: grid;
    grid-template-rows: 80% 10% 10%; }
    .shop-outfit__product-title {
      padding-top: 1rem;
      text-align: center;
      grid-row: 2/3;
      color: #777474;
      font-size: 1.5rem;
      font-weight: 300; }
    .shop-outfit__product-price {
      text-align: center;
      grid-row: 3/4; }
    .shop-outfit__product-image-container {
      grid-row: 1/2;
      overflow: hidden;
      position: relative; }
    .shop-outfit__product-image {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: absolute;
      transition: transform 1s; }
    .shop-outfit__product-cart {
      height: 2.5rem;
      width: 2.5rem;
      z-index: 1;
      position: absolute;
      margin-left: auto;
      right: 1rem;
      top: 2rem;
      fill: #777474;
      display: none;
      transition: 0.5s; }
      .shop-outfit__product-cart--active {
        fill: #fe7d97; }
    .shop-outfit__product-arrow {
      fill: #777474;
      z-index: 1;
      position: absolute;
      height: 2rem;
      width: 2rem;
      top: 50%; }
      .shop-outfit__product-arrow-left {
        left: 2%; }
      .shop-outfit__product-arrow-right {
        right: 2%; }
    .shop-outfit__product-1 {
      grid-column: product-column-1 / product-column-2;
      grid-row: product-row-1 / product-row-2; }
    .shop-outfit__product-2 {
      grid-column: product-column-2 / product-column-3;
      grid-row: product-row-1 / product-row-2; }
    .shop-outfit__product-3 {
      grid-column: product-column-3 / column-end;
      grid-row: product-row-1 / product-row-2; }
    .shop-outfit__product-4 {
      grid-column: product-column-1 / product-column-2;
      grid-row: product-row-2 / row-end; }
    .shop-outfit__product-5 {
      grid-column: product-column-2 / product-column-3;
      grid-row: product-row-2 / row-end; }
    .shop-outfit__product-6 {
      grid-column: product-column-3 / column-end;
      grid-row: product-row-2 / row-end; }
