* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 5rem 80vh min-content minmax(min-content, 30vw) min-content minmax(min-content, 30vw) min-content;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }

.logo {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: lowercase;
  text-decoration: none;
  color: #383838; }
  .logo-dot {
    color: #fe7d97; }

.link-one {
  color: #777474;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s; }
  .link-one:hover {
    transform: scale(1.1);
    color: #fe7d97;
    fill: #fe7d97; }
  .link-one--active {
    text-decoration: underline;
    color: #000000;
    text-underline-offset: 2px; }

.link-two {
  color: #777474;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s; }
  .link-two--active {
    color: #000000; }
  .link-two:hover {
    color: #000000; }

.link-three {
  border-radius: 0.5rem;
  color: #777474;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s;
  background-color: #f3f3f3;
  color: #383838;
  width: 100%;
  text-align: center; }

.cart {
  fill: #777474;
  height: 3rem;
  width: 3rem;
  transition: 0.5s; }
  .cart:hover {
    transform: scale(1.1);
    fill: #fe7d97; }

.text-container {
  text-align: center; }
  .text-container__title {
    text-transform: uppercase;
    font-size: 4rem;
    color: #777474; }
  .text-container__text {
    font-size: 2rem;
    color: #000000; }

.btn-small {
  border: none;
  text-transform: uppercase;
  transition: all 0.5s;
  background-color: #000000;
  color: #fff;
  padding: 1rem 2rem;
  transition: all 0.5s; }
  .btn-small:hover {
    transform: scale(1.1); }

.btn-large {
  border: none;
  text-transform: uppercase;
  transition: all 0.5s;
  padding: 2rem 5rem;
  background-color: #fff;
  color: #000000;
  font-size: 2rem;
  font-weight: bold; }
  .btn-large:hover {
    transform: scale(1.1); }

.product__img {
  object-fit: cover;
  width: 100%;
  transition: transform 0.5s; }

.product__title {
  text-align: center; }

.product__price {
  text-align: center; }

.product__image-container {
  overflow: hidden;
  position: relative; }
  .product__image-container > img:not(:first-child) {
    position: absolute; }

.product__arrow {
  height: 3rem;
  width: 3rem;
  z-index: 1;
  position: absolute;
  margin: auto; }
  .product__arrow--left {
    top: 45%;
    left: 1%; }
  .product__arrow--right {
    top: 45%;
    right: 1%; }

.product__cart {
  position: absolute;
  margin: auto;
  top: 2%;
  right: 5%;
  display: none; }

.nav-bar {
  grid-row: 1/2;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: minmax(min-content, 10%) minmax(min-content, 50%) 1fr minmax(min-content, 5%);
  align-items: baseline;
  padding-top: 0.5rem;
  background-color: #f3f3f3;
  grid-column-gap: 2rem; }
  .nav-bar__logo {
    margin-left: 2rem; }
  .nav-bar__mobile-menu {
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
    font-size: 1.3rem;
    display: none;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .nav-bar__mobile-menu {
        display: block; } }
  .nav-bar__links {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 5rem));
    grid-column-gap: 2rem;
    justify-items: center;
    transform: translateY(-0.2rem); }
    @media only screen and (max-width: 37.5em) {
      .nav-bar__links {
        display: none; } }
  .nav-bar__link {
    font-size: 1.2rem;
    white-space: nowrap; }
  .nav-bar__cart {
    align-self: center;
    justify-self: start;
    grid-column: 4/5;
    grid-row: 1/2;
    position: relative;
    display: grid;
    grid-column-gap: 1rem; }
    .nav-bar__cart-total {
      grid-column: 1/2;
      grid-row: 1/2;
      font-size: 1.5rem;
      align-self: center; }
    .nav-bar__cart-icon {
      transform: translateY(-0.3rem);
      grid-column: 2/3; }
      .nav-bar__cart-icon:hover {
        transform: translateY(-0.3rem) scale(1.1); }
    .nav-bar__cart-products {
      position: absolute;
      margin: auto;
      right: 0.5rem;
      top: 3rem;
      z-index: 2;
      max-height: 20rem;
      min-height: 10rem;
      width: 20rem;
      overflow-y: scroll;
      background-color: rgba(243, 243, 243, 0.9);
      display: none; }
    .nav-bar__cart-product {
      display: grid;
      padding: 2rem 2rem 0 2rem; }
      .nav-bar__cart-product-image {
        height: 100%;
        width: 100%; }
      .nav-bar__cart-product-title {
        text-align: center;
        font-size: 2rem; }
      .nav-bar__cart-product-price {
        text-align: center;
        font-size: 1.5rem; }
    .nav-bar__cart-checkout-button {
      margin-top: 1rem;
      text-align: center; }
    .nav-bar__cart-checkout-message {
      text-align: center;
      font-size: 2rem;
      margin-top: 2rem; }

.header {
  grid-row: 2/3;
  grid-column: full-start/full-end;
  background-image: url(./img/model-image-1.jpg);
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 1fr;
  transition: all 0.5s; }
  @media only screen and (max-width: 29.0625em) {
    .header {
      background-position: 35%; } }
  .header__text-container {
    align-self: center; }
  .header__button {
    margin-top: 1rem; }
  .header__links {
    position: absolute;
    margin: auto;
    left: 2rem;
    bottom: 2rem;
    color: #777474;
    font-size: 1.3rem; }
  .header__link {
    display: inline-block; }
  .header__title {
    font-size: 1.5rem;
    letter-spacing: 0.5rem; }
  .header__text {
    font-size: 4rem; }

.shop-now {
  grid-column: full-start / full-end;
  margin: 2rem 2rem 0 2rem;
  display: grid;
  grid-template-columns: [columns-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [columns-end];
  grid-template-rows: 5rem 1fr;
  row-gap: 1rem; }
  .shop-now--woman {
    grid-row: 3/4; }
  .shop-now--man {
    grid-row: 5/6; }
  .shop-now__image-container {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .shop-now__image-container {
        display: none; } }
    .shop-now__image-container--woman {
      margin-right: 2rem;
      grid-column: col-start 1 / col-start 4; }
    .shop-now__image-container--man {
      margin-left: 2rem;
      grid-column: col-start 5 / col-end 8; }
  .shop-now__photo {
    object-fit: cover;
    width: 100%; }
  .shop-now__button {
    position: absolute;
    margin: auto;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%); }
    .shop-now__button:hover {
      transform: translateX(-50%) scale(1.1); }
  .shop-now__title {
    justify-self: center;
    align-self: center;
    font-size: 3rem; }
    .shop-now__title--woman {
      grid-column: col-start 1 / col-end 3; }
      @media only screen and (max-width: 37.5em) {
        .shop-now__title--woman {
          grid-column: col-start 1 / col-end 8; } }
    .shop-now__title--man {
      grid-column: col-start 5 / col-end 8; }
      @media only screen and (max-width: 37.5em) {
        .shop-now__title--man {
          grid-column: col-start 1 / col-end 8; } }
  .shop-now__categories {
    grid-row: 1/2;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    column-gap: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .shop-now__categories {
        display: none; } }
    .shop-now__categories--woman {
      grid-column: col-start 4 / columns-end; }
    .shop-now__categories--man {
      grid-column: columns-start / col-start 4; }
  .shop-now__category {
    list-style-type: none;
    white-space: nowrap;
    font-size: 1.2rem; }
  .shop-now__products {
    grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
    display: grid;
    grid-row: 2/3;
    grid-gap: 2rem; }
    .shop-now__products--woman {
      grid-column: col-start 4 / columns-end; }
      @media only screen and (max-width: 37.5em) {
        .shop-now__products--woman {
          grid-column: col-start 1 / col-end 8; } }
    .shop-now__products--man {
      grid-column: columns-start / col-end 4; }
      @media only screen and (max-width: 37.5em) {
        .shop-now__products--man {
          grid-column: col-start 1 / col-end 8; } }

.new-arrivals {
  background-image: url(./img/new-arrivals-img-3.jpg);
  background-size: cover;
  background-position: 0 60%;
  margin: 4rem 2rem 0 2rem;
  grid-row: 4/5;
  grid-column: full-start/ full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center; }
  .new-arrivals__text-container {
    grid-column: 2/3;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .new-arrivals__text-container {
        grid-column: 1/3; } }
    @media only screen and (max-width: 29.0625em) {
      .new-arrivals__text-container {
        margin-bottom: 1rem; } }
  .new-arrivals__title {
    font-size: 8rem;
    color: rgba(119, 116, 116, 0.2);
    text-transform: lowercase;
    letter-spacing: 1rem; }
    @media only screen and (max-width: 29.0625em) {
      .new-arrivals__title {
        font-size: 5rem; } }
  .new-arrivals__text {
    font-size: 3rem;
    color: #fff;
    background-color: #383838;
    white-space: nowrap;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 29.0625em) {
      .new-arrivals__text {
        font-size: 1.5rem;
        margin-bottom: 1rem; } }
  .new-arrivals__link {
    font-size: 1.5rem;
    color: #383838; }
    @media only screen and (max-width: 29.0625em) {
      .new-arrivals__link {
        color: #f3f3f3; } }

.sale {
  margin-top: 4rem;
  grid-row: 6/7;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, [col-start] minmax(min-content, 1fr) [col-end]);
  grid-template-rows: repeat(4, 1fr); }
  @media only screen and (max-width: 29.0625em) {
    .sale {
      grid-template-rows: repeat(8, 1fr); } }
  .sale__woman {
    margin: 2rem;
    grid-column: col-start 1 / col-end 4;
    grid-row: 1/-1;
    background-image: url(./img/sale-women.jpg);
    background-size: cover;
    background-position: 0 50%;
    position: relative;
    transition: all 0.5s; }
    @media only screen and (max-width: 37.5em) {
      .sale__woman {
        background-position: 60%; } }
    @media only screen and (max-width: 29.0625em) {
      .sale__woman {
        grid-row: 1/5;
        grid-column: col-start 1 / col-end 8; } }
    .sale__woman-text {
      writing-mode: vertical-lr;
      margin: auto;
      position: absolute;
      text-transform: uppercase;
      letter-spacing: 2rem;
      font-size: 1.8rem;
      left: 1.5rem;
      top: 5rem; }
      .sale__woman-text:after {
        background-color: #000000;
        content: "";
        position: absolute; }
      @media only screen and (max-width: 22.8125em) {
        .sale__woman-text {
          writing-mode: horizontal-tb;
          left: 2rem;
          color: #fff; } }
      .sale__woman-text:after {
        height: 23%;
        width: 2px;
        left: 1.4rem;
        bottom: 105%; }
        @media only screen and (max-width: 22.8125em) {
          .sale__woman-text:after {
            display: none; } }
  .sale__man {
    position: relative;
    margin: 2rem;
    grid-column: col-start 5 / col-end 8;
    grid-row: 1/-1;
    background-image: url(./img/sale-men.jpg);
    background-size: cover;
    background-position: 0 30%;
    display: flex;
    transition: all 0.5s; }
    @media only screen and (max-width: 37.5em) {
      .sale__man {
        background-position: 30%; } }
    @media only screen and (max-width: 29.0625em) {
      .sale__man {
        grid-row: 5/9;
        grid-column: col-start 1 / col-end 8; } }
    .sale__man-text {
      writing-mode: vertical-lr;
      margin: auto;
      position: absolute;
      text-transform: uppercase;
      letter-spacing: 2rem;
      font-size: 1.8rem;
      display: inline-block;
      align-self: flex-end;
      right: 1.5rem;
      bottom: 3.5rem;
      color: #fff; }
      .sale__man-text:after {
        background-color: #000000;
        content: "";
        position: absolute; }
      @media only screen and (max-width: 22.8125em) {
        .sale__man-text {
          writing-mode: horizontal-tb; } }
      .sale__man-text:after {
        background-color: #fff;
        height: 33%;
        width: 2px;
        right: 1.3rem;
        top: 100%; }
        @media only screen and (max-width: 22.8125em) {
          .sale__man-text:after {
            display: none; } }
  .sale__text-container {
    grid-column: col-start 4 / col-end 5;
    grid-row: 2/4;
    z-index: 1;
    border: solid 1px #fff;
    padding: 2rem; }
    @media only screen and (max-width: 29.0625em) {
      .sale__text-container {
        grid-row: 4/6; } }
    @media only screen and (max-width: 22.8125em) {
      .sale__text-container {
        padding: 0; } }
  .sale__text-box {
    background-color: white;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .sale__text-box__title {
      font-size: 5rem;
      letter-spacing: 1rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 22.8125em) {
        .sale__text-box__title {
          font-size: 3rem; } }
    .sale__text-box__text {
      font-size: 2rem;
      letter-spacing: 1rem;
      color: #777474;
      text-transform: lowercase; }
      @media only screen and (max-width: 22.8125em) {
        .sale__text-box__text {
          font-size: 1rem; } }

.footer {
  background-color: #f3f3f3;
  grid-row: 7/8;
  grid-column: full-start / full-end;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, [col-start] minmax(20rem, 1fr) [col-end]);
  align-content: center;
  padding: 2rem; }
  .footer__copyright {
    transform: translateY(-0.5rem); }
  .footer__about {
    display: flex;
    flex-direction: column;
    align-items: baseline; }
    .footer__about-title {
      color: #000000;
      font-size: 2rem; }
  .footer__shopguide {
    display: flex;
    flex-direction: column;
    align-items: baseline; }
    .footer__shopguide-title {
      color: #000000;
      font-size: 2rem; }
  .footer__newsletter-title {
    color: #000000;
    font-size: 2rem; }
  .footer__newsletter-form > label {
    display: block;
    font-size: 1.5rem;
    color: #777474; }
  .footer__newsletter-form > input {
    margin-top: 1rem;
    border: none;
    height: 3.5rem;
    width: 15rem; }

.mobile-nav {
  background-image: linear-gradient(to top right, rgba(254, 125, 151, 0.7), rgba(243, 243, 243, 0.9));
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none; }
  .mobile-nav__cross {
    height: 3rem;
    width: 3rem;
    margin: auto;
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: #383838; }
  .mobile-nav__links {
    position: absolute;
    margin: auto;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center; }
  .mobile-nav__link {
    font-size: 2rem;
    margin: 3rem 2rem; }
