* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.homepage_container {
  max-width: 100vw;
  min-height: 50rem; }

.header {
  padding: 0 5rem;
  height: 5rem; }

.section-main {
  height: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr) 2fr repeat(4, 1fr);
  justify-items: center; }

.section-for-her {
  height: 70vw;
  margin-top: -2rem; }

.section-new-arrivals {
  height: 25vw;
  margin: 2rem;
  display: grid;
  grid-template-columns: 60% 1fr; }

.section-for-him {
  height: 70vw;
  margin-top: -2rem; }

.-logo {
  color: #383838;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 1px; }
  .-logo-dot {
    color: #fe7d97; }

.link {
  padding: 0 1.3rem;
  justify-self: center;
  color: #504f4f;
  text-decoration: none;
  font-size: 1.15rem;
  text-transform: uppercase;
  padding: 0 2rem;
  transition: 0.5s; }
  .link:hover {
    transform: scale(1.1);
    color: #fe7d97;
    fill: #fe7d97; }
  .link--active {
    text-decoration: underline;
    color: #000000;
    text-underline-offset: 2px; }

.hash-tag-medium {
  font-size: 4.2rem;
  color: #383838;
  text-decoration: underline;
  text-underline-offset: 3px; }

.nav {
  display: flex;
  align-items: baseline;
  width: 100%; }
  .nav__logo {
    padding-right: 3rem;
    font-size: 3rem;
    text-decoration: none; }
  .nav__cart {
    fill: #504f4f;
    height: 2rem;
    width: 6rem;
    align-self: center;
    margin-top: 5px;
    margin-left: auto; }

.section-main {
  background-image: url(./img/model-image-1.jpg);
  overflow: hidden;
  transition: background 1s;
  color: #504f4f; }
  .section-main__hashtag {
    grid-column: 1/2;
    grid-row: 3/4;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #504f4f;
    font-size: 1.1rem;
    align-self: center; }
  .section-main__title {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 4rem;
    color: #383838;
    font-weight: 600;
    text-align: center; }
  .section-main__button {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 14rem;
    height: 4rem;
    text-transform: uppercase;
    background-color: #383838;
    color: white;
    border: none;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 1.5rem; }
    .section-main__button:hover {
      transform: scale(1.1); }
  .section-main__links {
    grid-column: 1/2;
    grid-row: 8/9;
    margin-right: auto;
    padding-left: 6rem; }
    .section-main__links > a {
      font-size: 1rem; }

.shop-outfit {
  display: grid;
  height: 100%;
  align-items: start;
  justify-items: center;
  row-gap: 1rem;
  column-gap: 2rem;
  overflow: hidden;
  padding: 0 2rem; }
  .shop-outfit-women {
    grid-template-columns: [column-start main-start] 40% [main-end] 1fr [column-end];
    grid-template-rows: [row-start categories-start] 10% [categories-end] 1fr [row-end]; }
  .shop-outfit-men {
    grid-template-columns: [column-start main-start] 1fr [main-end] 40% [column-end];
    grid-template-rows: [row-start categories-start] 10% [categories-end] 1fr [row-end]; }
  .shop-outfit__shop-now {
    text-align: center;
    position: relative;
    width: 100%; }
    .shop-outfit__shop-now-women {
      grid-column: main-start / main-end;
      grid-row: categories-end/ row-end; }
    .shop-outfit__shop-now-men {
      grid-column: main-end / column-end;
      grid-row: categories-end/ row-end; }
    .shop-outfit__shop-now__title {
      margin-top: -2rem;
      padding-bottom: 5.2rem;
      font-size: 5rem;
      color: #383838;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-transform: uppercase; }
    .shop-outfit__shop-now__img {
      width: 100%; }
    .shop-outfit__shop-now__btn {
      font-weight: 600;
      border: none;
      text-transform: uppercase;
      padding: 1.5rem 4rem;
      background-color: white;
      color: #504f4f;
      font-size: 1rem;
      position: absolute;
      top: 85%;
      left: 55%;
      transform: translate(-50%, -50%); }
  .shop-outfit__categories {
    justify-self: start;
    align-self: end; }
    .shop-outfit__categories-women {
      grid-column: main-end / column-end;
      grid-row: categories-start / categories-end; }
    .shop-outfit__categories-men {
      grid-column: main-start/ main-end;
      grid-row: categories-start / categories-end; }
    .shop-outfit__categories > .category {
      font-size: 1rem;
      padding-left: 0;
      padding-right: 3rem;
      text-decoration: none; }
  .shop-outfit__products {
    grid-column-gap: 2rem;
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: [column-start product-column-1] 1fr [product-column-2] 1fr [product-column-3] 1fr [column-end];
    grid-template-rows: [row-start product-row-1] 1fr [product-row-2] 1fr [row-end]; }
    .shop-outfit__products-women {
      grid-column: main-end/ column-end;
      grid-row: categories-end / row-end; }
    .shop-outfit__products-men {
      grid-column: main-start/ main-end;
      grid-row: categories-end / row-end; }
  .shop-outfit__product {
    display: grid;
    grid-template-rows: 80% 10% 10%; }
    .shop-outfit__product-title {
      padding-top: 0.5rem;
      text-align: center;
      grid-row: 2/3;
      color: #504f4f;
      font-size: 1.5rem;
      font-weight: 300; }
    .shop-outfit__product-price {
      text-align: center;
      grid-row: 3/4; }
    .shop-outfit__product-image-container {
      grid-row: 1/2;
      overflow: hidden;
      position: relative; }
    .shop-outfit__product-image {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: absolute;
      transition: transform 1s; }
    .shop-outfit__product-arrow {
      fill: #504f4f;
      z-index: 1;
      position: absolute;
      height: 2rem;
      width: 2rem;
      top: 50%; }
      .shop-outfit__product-arrow-left {
        left: 2%; }
      .shop-outfit__product-arrow-right {
        right: 2%; }
    .shop-outfit__product-1 {
      grid-column: product-column-1 / product-column-2;
      grid-row: product-row-1 / product-row-2; }
    .shop-outfit__product-2 {
      grid-column: product-column-2 / product-column-3;
      grid-row: product-row-1 / product-row-2; }
    .shop-outfit__product-3 {
      grid-column: product-column-3 / column-end;
      grid-row: product-row-1 / product-row-2; }
    .shop-outfit__product-4 {
      grid-column: product-column-1 / product-column-2;
      grid-row: product-row-2 / row-end; }
    .shop-outfit__product-5 {
      grid-column: product-column-2 / product-column-3;
      grid-row: product-row-2 / row-end; }
    .shop-outfit__product-6 {
      grid-column: product-column-3 / column-end;
      grid-row: product-row-2 / row-end; }

.section-new-arrivals {
  background-image: url(./img/new-arrivals-img-3.jpg);
  background-size: cover;
  background-position: 0 80%; }
  .section-new-arrivals-textbox {
    z-index: 2;
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center; }
  .section-new-arrivals__title {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: #383838;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase; }
  .section-new-arrivals__text {
    margin-top: 12rem;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #383838; }
  .section-new-arrivals__link {
    margin-top: 19rem;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1.4rem; }
  .section-new-arrivals__background-text {
    margin-bottom: 20rem;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 10rem;
    color: rgba(80, 79, 79, 0.2);
    z-index: 1;
    letter-spacing: 2rem; }
