<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      defer
      src="{% static 'clothing_shop/javascript/script.js' %}"
    ></script>
    <script type="text/javascript">
      NG_STATIC_FILES = {
        STATIC_URL: "{% static 'clothing_shop/' %}",
      };
      NG_MEDIA_FILES = {
        MEDIA_URL: "{% get_media_prefix %}",
      };
    </script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'clothing_shop/style.css' %}"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="container">
    <nav class="nav-bar">
      <a href="#" class="nav-bar__logo logo"
        >Shoppo<span class="logo-dot">.</span></a
      >
      <div class="nav-bar__links">
        <a href="#" class="nav-bar__link link-one link-one--active">Home</a>
        <a href="#" class="nav-bar__link link-one">Shop</a>
        <a href="#" class="nav-bar__link link-one">Blog</a>
        <a href="#" class="nav-bar__link link-one">Pages</a>
        <a href="#" class="nav-bar__link link-one">Contact us</a>
      </div>
      <div class="nav-bar__mobile-menu">Menu</div>
      <div class="nav-bar__cart">
        <div class="nav-bar__cart-total"></div>
        <div class="nav-bar__cart-products">
          <div class="nav-bar__cart-checkout-message">No products in cart.</div>
          <div class="nav-bar__cart-checkout-button btn-small">
            Check out now
          </div>
        </div>
        <svg class="nav-bar__cart-icon cart">
          <use
            xlink:href="{% static 'clothing_shop/img/sprite.svg' %}#icon-shopping-basket "
          ></use>
        </svg>
      </div>
    </nav>

    <div class="mobile-nav">
      <svg class="mobile-nav__cross">
        <use
          xlink:href="{% static 'clothing_shop/img/sprite.svg' %}#icon-cross "
        ></use>
      </svg>
      <div class="mobile-nav__links">
        <a href="#" class="mobile-nav__link link-three">Home</a>
        <a href="#" class="mobile-nav__link link-three">Shop</a>
        <a href="#" class="mobile-nav__link link-three">Blog</a>
        <a href="#" class="mobile-nav__link link-three">Pages</a>
        <a href="#" class="mobile-nav__link link-three">Contact us</a>
      </div>
    </div>

    {% block body %}{% endblock %}
    <footer class="footer">
      <div class="footer__copyright">
        <a href="#" class="footer__copyright-title logo"
          >Shoppo<span class="logo-dot">.</span></a
        >
        <p class="footer__copyright-text">
          This website was built for educational purposes. I do not own any of
          the images shown on this website. All rights and credit go directly to
          its rightful owners. No copyright infringement intended.
        </p>
      </div>
      <div class="footer__about">
        <div class="footer__about-title">About</div>
        <a href="#" class="footer__about-link-one link-one">About us</a>
        <a href="#" class="footer__about-link-one link-one">Stores</a>
        <a href="#" class="footer__about-link-one link-one">Work with us</a>
        <a href="#" class="footer__about-link-one link-one">Our policies</a>
        <a href="#" class="footer__about-link-one link-one">Loyalty card</a>
      </div>

      <div class="footer__shopguide">
        <div class="footer__shopguide-title">Shop guide</div>
        <a href="#" class="footer__shopguide-link-one link-one">Payment</a>
        <a href="#" class="footer__shopguide-link-one link-one">Returns</a>
        <a href="#" class="footer__shopguide-link-one link-one">Gift card</a>
        <a href="#" class="footer__shopguide-link-one link-one"
          >Guest purchase</a
        >
        <a href="#" class="footer__shopguide-link-one link-one"
          >Terms & conditions</a
        >
      </div>
      <div class="footer__newsletter">
        <div class="footer__newsletter-title">Newsletter</div>
        <form class="footer__newsletter-form">
          <label for="footer__newsletter-form__title"
            >Subscribe to our newsletter</label
          >
          <input
            type="email"
            id="footer__newsletter-form__input"
            name="email"
            placeholder="Enter your email"
          />
          <button class="footer__newsletter-form__submit btn-small">
            Subscribe
          </button>
        </form>
      </div>
    </footer>
  </body>
</html>
