<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'clothing_shop/style.css' %}"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="#" class="nav__logo -logo"
          >Shoppo<span class="-logo-dot">.</span></a
        >
        <a href="#" class="link link--active link">Home</a>
        <a href="#" class="link">Shop</a>
        <a href="#" class="link">Blog</a>
        <a href="#" class="link">Pages</a>
        <a href="#" class="link">Contact us</a>
        <svg class="link nav__cart">
          <use
            xlink:href="{% static 'clothing_shop/sprite.svg' %}#icon-shopping-basket "
          ></use>
        </svg>
      </nav>
    </header>

    {% block body %}{% endblock %}
  </body>
</html>
