<!-- prettier-ignore -->
{% extends "./base_template.html" %} 
{% load static %}

{% block title %} Shoppo {% endblock %}
{% block body %}
<div class="homepage_container">
  <section class="section-main">
    <h2 class="section-main__hashtag hashtag-small">#ShoppoStore</h2>
    <h1 class="section-main__title large-title">Simplify<br />Everything.</h1>
    <button class="section-main__button explore-now-btn">Explore now</button>
    <div class="section-main__links links">
      <a href="#" class="link-1 link link--active">Women</a>
      |
      <a href="#" class="link">Men</a>
      |
      <a href="#" class="link">Sale</a>
    </div>
  </section>
  <section class="section-for-her">
    <h1>Section - For her</h1>
  </section>
  <section class="section-new-arrivals">
    <h1>Section - New arrivals</h1>
  </section>
  <section class="section-for-him">
    <h1>Section - For him</h1>
  </section>
  <section class="section-sale">
    <h1>Section - Sale</h1>
  </section>
  <footer>This is the footer</footer>
</div>

{% endblock %}
