<!-- prettier-ignore -->
{% extends "./base_template.html" %} 
{% load static %}

{% block title %} Shoppo {% endblock %}
{% block body %}
<header class="header">
  <div class="text-container header__text-container">
    <div class="text-container__title header__title">#SHOPPOSTORE</div>
    <div class="text-container__text header__text">
      Simplify<br />
      Everything
    </div>
    <button class="text-container__button header__button btn-small">
      Explore now
    </button>
  </div>
  <div class="header__links">
    <a href="#" class="header__link link-two link-two--active"> Women </a>
    |
    <a href="#" class="header__link link-two">Men</a>
    |
    <a href="#" class="header__link link-two">Sale</a>
  </div>
</header>

<div class="shop-now shop-now--woman">
  <h2 class="shop-now__title shop-now__title--woman">FOR HER</h2>
  <div class="shop-now__categories shop-now__categories--woman">
    <a href="#" class="shop-now__category link-two link-two--active">All</a>
    <a href="#" class="shop-now__category link-two">Dresses</a>
    <a href="#" class="shop-now__category link-two">Bags</a>
    <a href="#" class="shop-now__category link-two">Shoes</a>
    <a href="#" class="shop-now__category link-two">Jewellery</a>
  </div>
  <div class="shop-now__image-container shop-now__image-container--woman">
    <img
      src="{% static 'clothing_shop/img/blue-dress.jpg' %}"
      alt=""
      class="shop-now__photo"
    />

    <button class="shop-now__button btn-large">Shop now</button>
  </div>
  <div class="shop-now__products shop-now__products--woman">
    {% for product in womenProducts.values %}
    <div class="product">
      <div
        class="product__image-container"
        data-slide="0"
        data-product="{{product.product.id}}"
      >
        {% for img in product.productImgs %}
        <img
          class="product__img"
          src="{{img.images.url}}"
          alt="Product image"
          data-offset="{{forloop.counter}}"
        />
        {% endfor %}
        <svg class="product__arrow product__arrow--left">
          <use
            class="arrow-left"
            xlink:href="{% static 'clothing_shop/img/sprite.svg' %}#icon-chevron-with-circle-left "
          ></use>
        </svg>
        <svg class="product__arrow product__arrow--right">
          <use
            class="arrow-right"
            xlink:href="{% static 'clothing_shop/img/sprite.svg' %}#icon-chevron-with-circle-right"
          ></use>
        </svg>
        <svg class="product__cart cart">
          <use
            class="prodcut__cart"
            xlink:href="{% static 'clothing_shop/img/sprite.svg' %}#icon-shopping-basket "
          ></use>
        </svg>
      </div>
      <h3 class="product__title">{{ product.product.title }}</h3>
      <p class="product__price">£{{ product.product.price }}</p>
    </div>
    {% endfor %}
  </div>
</div>

<section class="new-arrivals">
  <div class="text-container new-arrivals__text-container">
    <div class="text-container__title new-arrivals__title">Shoppo</div>
    <div class="text-container__text new-arrivals__text">New arrivals</div>
    <a href="#" class="link-one link-one--active new-arrivals__link"
      >Shop now</a
    >
  </div>
</section>

<div class="shop-now shop-now--man">
  <h2 class="shop-now__title shop-now__title--man">FOR HIM</h2>
  <div class="shop-now__categories shop-now__categories--man">
    <a href="#" class="shop-now__category link-two link-two--active">All</a>
    <a href="#" class="shop-now__category link-two">Suits</a>
    <a href="#" class="shop-now__category link-two">Shirts</a>
    <a href="#" class="shop-now__category link-two">Shoes</a>
    <a href="#" class="shop-now__category link-two">Accessories</a>
  </div>
  <div class="shop-now__image-container shop-now__image-container--man">
    <img
      src="{% static 'clothing_shop/img/blue-suit.jpg' %}"
      alt=""
      class="shop-now__photo"
    />

    <button class="shop-now__button btn-large">Shop now</button>
  </div>
  <div class="shop-now__products shop-now__products--man">
    {% for product in menProducts.values %}
    <div class="product">
      <div
        class="product__image-container"
        data-slide="0"
        data-product="{{product.product.id}}"
      >
        {% for img in product.productImgs %}
        <img
          class="product__img"
          src="{{img.images.url}}"
          alt="Product image"
          data-offset="{{forloop.counter}}"
        />
        {% endfor %}
        <svg class="product__arrow product__arrow--left">
          <use
            class="arrow-left"
            xlink:href="{% static 'clothing_shop/img/sprite.svg' %}#icon-chevron-with-circle-left "
          ></use>
        </svg>
        <svg class="product__arrow product__arrow--right">
          <use
            class="arrow-right"
            xlink:href="{% static 'clothing_shop/img/sprite.svg' %}#icon-chevron-with-circle-right"
          ></use>
        </svg>
        <svg class="product__cart cart">
          <use
            class="prodcut__cart"
            xlink:href="{% static 'clothing_shop/img/sprite.svg' %}#icon-shopping-basket "
          ></use>
        </svg>
      </div>
      <h3 class="product__title">{{ product.product.title }}</h3>
      <p class="product__price">£{{ product.product.price }}</p>
    </div>
    {% endfor %}
  </div>
</div>

<section class="sale">
  <div class="sale__woman">
    <div class="sale__woman-text">Woman</div>
  </div>
  <div class="sale__man">
    <div class="sale__man-text">Man</div>
  </div>
  <div class="sale__text-container">
    <div class="sale__text-box">
      <div class="sale__text-box__title">Sale</div>
      <div class="sale__text-box__text">#Shoppostore</div>
    </div>
  </div>
</section>
{% endblock %}
