<!-- prettier-ignore -->
{% extends "./base_template.html" %} 

{% block title %} Shoppo {% endblock %}
{% block body %}
<div class="homepage_container">
  <section class="section-main">
    <h1>Section - Main</h1>
  </section>
  <section class="section-for-her">
    <h1>Section - For her</h1>
  </section>
  <section class="section-new-arrivals">
    <h1>Section - New arrivals</h1>
  </section>
  <section class="section-for-him">
    <h1>Section - For him</h1>
  </section>
  <section class="section-sale">
    <h1>Section - Sale</h1>
  </section>
  <footer>This is the footer</footer>
</div>

{% endblock %}
